name: PR Unit Tests

on:
  pull_request:
    branches: [main, develop]

jobs:
  unit-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.12.0
          cache: npm # change to pnpm/yarn if needed

      - name: Install dependencies
        run: npm install

      - name: Run Vitest
        run: npm run test -- --run
